@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Kanit", sans-serif;
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
p{
    font-family: "Kanit", sans-serif;
    font-weight: normal ;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

                /*Estilizaçao do cabeçalho*/

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    z-index:1000;
}
header.rolagem{
    background: linear-gradient(
        rgb(0, 62, 179) ,
        rgb(1, 9, 66) 
    );
    padding: 14px 4%;
}
.logo{
    height: 112px;
    transition: 600ms;
}
.logo:hover{
    opacity: 70%;
}
header .links-cab{
    font-family: "Kanit", sans-serif;
    font-weight: bolder;
    list-style-type: none;
    margin-top: 58px;
    min-height:10vh;
    max-height:90vh;
    min-width:10vw;
    max-width:100vw;
}
header .links-cab  .lista-link{
    display: inline-block !important;
    margin: 0 40px;
}
header .links-cab  .lista-link a{
    color:white;
    text-decoration: none;
    transition:600ms;
}
header .links-cab  .lista-link a:hover{
    opacity:70%;
}

                /*Estilizaçao do menu lateral*/

#menu{
    height: 100%;
    width: 250px;
    background: linear-gradient(
        rgb(1, 9, 66) ,
        rgb(0, 62, 179) 
        
    );
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    transition: 600ms all;
    filter: opacity(90%);
    display: none;
}

#menu a {
    font-family: "Kanit", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px ;
}

#menu a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}
.btn-abrir{
    width: 65px;
}
.btn-abrir:hover{
    opacity: 70%;
    cursor:pointer;
}


                    /*Imagem de fundo*/

.banner{
    height: 100vh;
    background-image: url("https://i.im.ge/2024/06/06/KPzZbW.1717694834814.webp");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

                    /*Carrossel de imagens*/

section.slider{
    margin:0 auto;
    width:100%;
    height:auto;
    padding:0 !important;
    overflow:hidden;
}
.slider-content{
    width:400%;
    height:auto;
    display:flex;
}
.slider-content input, .img-mobile{
    display:none;
}
.slide-box{
    width:25%;
    height:auto;
    text-align:center;
    transition:1s;
}
.slide-box img{
    width:100%;
}
.nav-manual, .nav-auto{
    position:absolute;
    width:100%;
    margin-top:35%;
    display:flex;
    justify-content:center;
}
.nav-manual .manual-btn, .nav-auto div{
    border:1px solid rgb(16, 12, 68);
    padding:10px;
    border-radius:50%;
    cursor:pointer;
    transition:0.02s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right:10px;
}
.nav-manual .manual-btn:hover{
    background-color:rgb(0, 0, 143);
}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color:rgb(0, 0, 143);
}
#radio1:checked ~ .primeiro{
    margin-left:0%;
}
#radio2:checked ~ .primeiro{
    margin-left:-25%;
}
#radio3:checked ~ .primeiro{
    margin-left:-50%;
}
@media screen and (max-width:900px){
    .img-desktop{
        display:none;
    }
    .img-mobile{
        display:block;
    }

    .nav-auto, .nav-manual{
        margin-top:60%;
    }
}



            /* INFOMAÇÕES SOBRE MATERIAS DO CURSO*/

#cursos{
    display:flex;
    flex-wrap:wrap;
}
.titlecursos{
    justify-content: center;
    text-align: center;
    color: rgb(22, 22, 90);
}
.card {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
}
.card-main{
    align-items: center;
    justify-content: center;
    text-align: center;

}      
.card h2 {
font-family: helvetica;
font-size: 24px;
margin-bottom: 10px;
}
                    
.text-card{
font-family: helvetica;
font-size: 18px;
line-height: 1.5;
margin-bottom: 20px;
text-align:center;
}
                    
.card img {                
width:700px;
height: 400px; 
margin-bottom: 20px;
}
#infor-basica, #Hardware, #Software{
    display:flex;
    justify-content:center;
}
.card-conteudo{
    width:500px;
}
.card-conteudo:not(.conteudo-img){
    justify-content:left;
    align-items:left;
}
.list-conteudos{
    text-align:left !important;
    list-style-type: none;
    font-size:1.2em !important;
    justify-content:center !important;
} 
.conteudo-img{
    width:480px !important;
    height: 350px; 
}
.name-curso{
    font-size: 2.5rem;
    text-align:center;
    font-family: "Kanit", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color:rgb(2, 2, 105);
}
.title-conteudo{
    font-size:1.8em !important;
    justify-content: center;
    text-align: center;
    color: rgb(22, 22, 90);
    text-transform:uppercase;
}
    /*CONJUNTO DAS 3 IMAGENS*/

.imagem-main{
    border-radius:40%;
    height:200px;
    transition:1.5s height;
}     
.imagem-main:hover{
    height:300px;
}
.div_imagens_main{
    text-align:center;
}

                        /*RODAPÉ*/

footer{    
    font-family: "Kanit", sans-serif;
}
                    /*links do rodapé*/

#links{
    color:white !important;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding:100px;
    min-width:35vw;
    max-width:100vw;
    background-color:black;
    padding-top:20px;
    padding-bottom:10px;
}
#Div_links{
    margin-top:30px;
    text-align:center;
}
#Div_links a{
    font-family: "Kanit", sans-serif;
    font-weight: initial;
    text-decoration:none;
    color:white;
    display:flex;
    flex-wrap:wrap;
    padding-top:4px;
    justify-content:center;
}
#Div_links a:hover{
    font-family: "Kanit", sans-serif;
    font-weight: bolder;
    text-decoration:underline;
}
.title-link{
    font-family: "Kanit", sans-serif;
    font-weight: bolder;
    font-size:1.8rem;
    min-height:20px;
    max-height:90px;
}
.name-criador{
    font-family: "Kanit", sans-serif;
    font-weight: initial;
}

        /*INFORMES ESCOLA*/
        /*
#informs-escola{
    background-color:black;
    color:white;
}*/
        /*COPYRIGHT*/
.div-copyright{
    background-color:#02011c;
    display:flex;
}
.img-midias{
    height: 25px;
    width: 25px;
}
#copyright{
    text-align:left;
    color:white;
}
#direitos-span{
    color:rgb(134, 134, 134);
}

        /*BOTÃO PARA VOLTAR AO INCIO*/
        


/*TESTE BUTÃO*/
.voltar-inicio{
    position:fixed;
    bottom: 5px;
    margin-left:95%;
    cursor:pointer;
}
#img-seta{
    height:80px;
}